$sidebar-primary-color: #A4A6B3;
$sidebar-horizontal:#5c5c5c;
$sidebar-background:#363740;
$sidebar-hover-primary:#DDE2FF;
$overview-primary-color:#252733;
$overview-border-primary:#9FA2B4;
$overview-hover-primary:#3751FF;
$fotter-accent-color: #3751FF;
$footer-hover:#182fc8;
$card-background:#fff;
$btn-background:#F0F1F7;
$label-urgent:#FEC400;
$label-new:#29CC97;
$placeholder-primary:#C5C7CD;
$login-outer:#000000;
$login-placeholder: #4B506D;