@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,500;1,400&family=Inconsolata&family=Kdam+Thmor+Pro&family=Mulish:wght@200&display=swap');
$sidebar-fonts: 'Exo 2',
sans-serif;
$overview-fonts:"Mulish",
sans-serif;
$sidebar-fontsize-large:19px;
$sidebar-fontsize-med:16px;
$sidebar-fontweight-large:700;
$overview-fontweight-med:600;
$overview-fontsize-med:14px;
$sidebar-fontweight-small:400;
$overview-fontsize-large:24px;
$overview-fontsize-xxxlarge:40px;
$overview-fontsize-xss:12px;
$login-fontsize-xsss:10px;