* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    position: relative;
    background-color: #F7F8FC;
    display: flex;
    flex-direction: row;
}

@import './colors.scss';
@import './fonts.scss'