@import '../../styles/index.scss';
.sidebar {
    width: 255px !important;
    padding: 37px 30px;
    font-family: $sidebar-fonts;
    color: $sidebar-primary-color;
    background-color: $sidebar-background;
    &-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        h2 {
            width: 100%;
            margin-left: 10px;
            font-weight: $sidebar-fontweight-large;
            font-size: $sidebar-fontsize-large;
        }
    }
    &-list {
        margin-top: 60px;
        height: 45vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .list__item {
            display: flex;
            list-style: none;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            a {
                width: 100%;
                margin-left: 24px;
                text-align: left;
                text-decoration: none;
                color: $sidebar-primary-color;
                font-weight: $sidebar-fontweight-small;
                font-size: $sidebar-fontsize-med;
            }
            a:hover {
                transition: 0.4s;
                color: $sidebar-hover-primary;
            }
        }
        .horizontal__line {
            margin-left: -32px;
            margin-right: -30px;
            border: 1px solid $sidebar-horizontal;
        }
    }
}